@import "normalize";
@import "animate/animate";

.list-none {
    list-style : none;
}

.text-center {
    text-align : center;
}

.pull-left {
    float : left;
}

.pull-right {
    float : right;
}
